// colors
$c-main: #00AEEF;
$c-secondary: #717171;
$c-bg: #2f3545;
$c-blue__dark: #184fee;

$inner: 1200px;
$sinner: 960px;

$font-head: monospace;
$font-base: sans-serif;

// breakpoints
$break-lg: 1240px;
$break-md: 980px;
$break-sm: 640px;
$break-xs: 480px;
$break-xs2: 320px;
