.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .container > div {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 0; }
  .container .button {
    margin: 16px; }
    @media (max-width: 400px) {
      .container .button {
        margin: 12px; } }
